.carousel-prev, .carousel-next{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.carousel-prev{
  left: 40px;
}
.carousel-next{
  right: 40px;
}

.arrow-nav {
  font-size: 2em;
  font-weight: bold;
  border-radius: 100px;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}